---
import FaqAccordion from '../components/FaqAccordion/FaqAccordion.astro';
import "./index.scss";
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>FAQ</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
      </style>
  </head>
  <body>
    <h1 class="main-header"><span>Pytaj</span>, jakby jutra miało nie być. Odpowiemy!</h1>
    <FaqAccordion />
  </body>
</html>
